
.header {
  font-size: 28px;
  background-color: saddlebrown;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.container {
  width: 600px;
  margin: 25px Auto;
  background-color: rgb(245, 245, 245);
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
}